* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  overflow: hidden;
  font-family: "Georgia", serif;
}

/* page1 */
#landing_canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* make it backward */
}

/* button position */
.overlay-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center; /* horizon */
  align-items: center; /* vertical */

  pointer-events: none;
  z-index: 10;
}

/* button */
.enter-btn {
  pointer-events: auto;
  padding: 18px 45px;
  color: #c8c864;
  text-decoration: none;
  border: 1px solid #c8c864;
  background: rgba(0, 0, 0, 0.4);
  letter-spacing: 6px;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}

.enter-btn:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #f3f1f3;
  box-shadow: 0 0 25px rgba(5, 87, 43, 0.6);
  border: 1px solid #f3f1f3;
  letter-spacing: 8px;
}

/* page2------------------------------------------------ */

/* background and pod */
.lab-viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  gap: 40px; /* between canvas and button */
  overflow: hidden;
}

/* making pod into circle */
#my_p5_canvas1 {
  width: 70vmin;
  height: 70vmin;
  border-radius: 50%; /* turn to circle */
  overflow: hidden; /* hide the canvas which over the circle */
  position: relative;

  border: 4px solid #052b1a;

  background: #000;
  box-shadow: 0 0 20px rgb(218, 241, 230, 2),
    inset 0 0 30px rgba(203, 203, 35, 0.5);
  cursor: pointer;
  outline: none;
}

/* adjust p5js canvas */
#my_p5_canvas1 canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;

  border-radius: 50% !important;
  object-fit: cover;
}

/* back to page1 button */
.back-link {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #c8c864;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.back-link:hover {
  color: #fff;
}

/* watering button */
.trigger-btn {
  pointer-events: auto;
  padding: 18px 45px;
  color: #23cb7a;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  letter-spacing: 6px;

  font-family: "Metal Mania", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  filter: drop-shadow(0 0 5px #cbcb23);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* bouncing */

  border: 2px solid #28b98b;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  box-shadow: inset 0 0 15px rgba(115, 170, 112, 0.2);
  cursor: pointer;
  outline: none;
}

.trigger-btn:hover,
.trigger-btn.active {
  color: #fff;
  background: rgba(35, 203, 83, 0.2);
  border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
  border: 2px solid #fff;
  box-shadow: 0 0 30px rgba(116, 214, 170, 0.6),
    inset 0 0 20px rgba(255, 255, 255, 0.4);
  letter-spacing: 10px;
  transform: scale(1.1) rotate(2deg);
}
